region = "us-east-1"
vpc_name = "stl-rda-ckan"
//at least three vpc_availability_zones
vpc_availability_zones = [
  "us-east-1a",
  "us-east-1b",
  "us-east-1c"
]
hosted_zone = "XXXXXXXXXXXXXX"
rds_username = "admin"
rds_password = "XXXXXXXXX"
admin-cidr-blocks = [
    "1.2.3.4/32",
    "5.6.7.8/32"
  ]
ckan_admin = "ckan_admin"
ckan_admin_password = "XXXXXXX"